#pageNavbarTop {
  background-color: #080;
  animation: changeColour 10s linear 2s infinite alternate;
}

@keyframes changeColour {
  0%,
  15% {
    background-color: #080;
  }
  16%,
  30% {
    background-color: #f98a01;
  }
  31%,
  45% {
    background-color: #c61f83;
  }
  46%,
  60% {
    background-color: #de9914;
  }
  61%,
  75% {
    background-color: #1eb6dc;
  }
  76%,
  90% {
    background-color: #0060a1;
  }
  91%,
  100% {
    background-color: #080;
  }
}
